html, body {
  background: #efefef;      
  height:100%;  
}
 body {
	background: url(img/bg.png);
    background-size: cover;
}
@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: bold;
  src: url(https://onedrive.live.com/download?resid=F87CD694B48033C9!114&authkey=!ADeQuq8LqQCrD3I&ithint=file%2cwoff) format('woff');
}
#center-text {          
  display: flex;
  flex: 1;
  flex-direction:column; 
  justify-content: center;
  align-items: center;  
  height:100%;
  
}
.close, .close:focus, .close:hover {
  opacity: 1;
}
.button-box .close {
  display: none;
}
#chat-circle {
    position: fixed;
    display: flex;
    bottom: 15px;
    right: 30px;
    background: #00A2B0;
    border: 2px solid #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.16), 0 3px 1px -2px rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn#my-btn {
     background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865C3;
}
#chat-overlay {
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


.chat-box {
    display: none;
    background: #fff;
    position: fixed;
    right: 30px;
    bottom: 105px;
    width: 90%;
    max-width: 380px;
    max-height: 100vh;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #ccc;
}
.chat-box-toggle {
  float:right;
  margin-right:0;
  cursor:pointer;
}
.chat-box-toggle i {
	font-size:32px;	
}
.chat-box-header {
    background: #00A2B0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: fathom;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
}
.chat-box-body {
  position: relative;
  height:320px;
  overflow: hidden;
}

#chat-circle.rectangle {
    width: auto;
    height: auto;
    border-radius: 80px;
    padding: 12px 19px;
}

.button-box {
    display: flex;
    align-items: center;
}

.button-box .icon-text h2 {
    font-family: "Gotham Black";
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.button-box .icon-text p {
    color: #D1EAFF;
    font-family: 'GOTHAM BLACK';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-bottom: 0;
}

.button-box img {
    width: 35px;
}
.icon-text {
    padding-left: 10px;
}
.rectangle .icon-text {
    display:block
}
.icon-text {
    display:none;
}

.chat-input {
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto 20px;
}
#chat-input {
    width: 100%;
    position: relative;
    height: 52px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    resize: none;
    outline: none;
    border: 1px solid #ADADAD;
    color: #808080;
    overflow: hidden;
    border-radius: 8px;
}
.chat-input > form {
    margin-bottom: 0;
	position: relative;

}
.chat-input p {
    color: #474747;
    text-align: center;
    font-family: Whitney;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
}
.text-box p {
    text-align: left;
    margin-bottom: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Gotham Black";
    color: #D1EAFF;
}
.text-box h2 {
    margin-bottom: 0;
    font-family: "Gotham Black";
}			
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {
    position: absolute;
    bottom: 0;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    transform: translate(0, -50%);
    top: 50%;
	color: #808080;
}
.chat-logs {
    padding: 15px;
    height: 320px;
    overflow-y: scroll;
    background: #fff;
}

.chat-logs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
	width: 5px;  
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
	background-color: #5A5EB9;
}
.chat-msg.self {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:20px;
  height:20px;
  border-radius:50%;
  float:left;
}
.chat-msg.self > .msg-avatar img {
  width:20px;
  height:20px;
  border-radius:50%;
  float:right;
}
.chat-msg.self > .msg-avatar img.up {
  margin-right: 10px;
}
.cm-msg-text {
  padding:10px 15px 10px 15px;
  max-width:75%;
  float:left;
  margin-left:10px;
  position:relative;
  margin-bottom:0px;
  border-radius: var(--Size-Radius-3, 8px);
  border: 1px solid var(--Color-Neutrals-gray-350, #ADADAD);
  background: var(--Color-Basic-base, #FFF);
/* Shadows/STD */
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
  margin-right: 10px;
  font-family: 'Whitney SSm A', 'Whitney SSm B', Arial;
  font-weight: 400;
  line-height: 1.3;
}
.chat-msg {
  clear:both;
  margin-bottom: 10px;
}
.chat-msg.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}
.chat-msg.user > .msg-avatar img.up {
  margin-right: 10px
}
.chat-msg.self > .msg-avatar img.up {
  margin-left: 10px
}
.chat-msg.self > .cm-msg-text {
  float:right;
  margin-right: 0;
  background: #00A2B0;
  color:white;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}